extends ../layout.pug
include ../partials/pagination.pug

block content
  .wrapper
    include ../partials/header.pug
    main.articles-category
      h1 #{categories.find((category) => category.id.toString() === id).name}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in categories
            li.themes__item
              a(class=`themes__item-link${category.id.toString() === id ? " themes__item-link--active" : ""}` href=category.id.toString() === id ? undefined : `/articles/category/${category.id}`)
                | #{category.name}
                =" "
                sup #{category.count}
      section.articles-category__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each post in posts
            li.preview__item
              ul.preview__breadcrumbs
                each category in post.categories
                  li.preview__breadcrumbs-item
                    a.preview__breadcrumbs-link(href=category.id.toString() === id ? undefined : `/articles/category/${category.id}`) #{category.name}
              if (post.picture)
                .preview__background
                  img.preview__background-image(src=`/img/${post.picture}` width="460" height="240" alt=`${post.title}`)
              +publicationDate(formatDatetime(post.createdAt), formatDate(post.createdAt))(class="preview__time")
              h3.preview__name
                a.preview__name-link(href=`/articles/${post.id}`) #{post.title}
              p.preview__text #{post.announcement}
              a.preview__comment(href=`/articles/${post.id}`)
                | Комментарии
                =" "
                span.preview__cloud
                =" "
                b.preview__comment-count #{post.comments.length}
      +pagination(page, totalPages, 2, '?')
    include ../partials/footer.pug
