extends ../layout.pug

block content
  .wrapper
    header.header
      a.header__logo.logo(href="/")
        img.logo__image(src="/img/icons/logo-image-only.svg" alt="логотип Тайпотеки")
        span.logo__name Типотека
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href="#") Открыть меню
        ul.navigation.header__navigation
          li.navigation__item
            a(href="#") Пункт меню
          li.navigation__item
            a(href="#") Пункт меню
          li.navigation__item
            a(href="#") Пункт меню
          li.navigation__item
            a(href="#") Пункт меню
      a.header__search.button.button--search(href="#" aria-label="поиск по сайту")
    main
      section
        .popup.popup--new-publication.popup--anti
          .new-publication
            form(action=`/articles/${id ? `edit/${id}` : 'add'}` method="POST" enctype="multipart/form-data")
              .new-publication__header
                h1 Новая публикация
                .new-publication__date-form
                  h3 Дата публикации
                  .new-publication__date-form-division
                    .new-publication__date-block
                      label(for="new-publication-date" aria-label="Календарь")
                      input#new-publication-date(type="text" name="date" placeholder=`${new Date().toLocaleDateString("ru-RU")}` value=(post && post.createdAt ? post.createdAt.slice(0, 10) : new Date().toISOString().slice(0, 10)))
                button.new-publication__button.button.button--colored(type="submit") Опубликовать
              a.popup__button.button.button--popup-close(aria-label="Закрыть окно") Закрыть окно
              if (validationMessages && 'createdAt' in validationMessages)
                p.form__error-message.error__title #{validationMessages.createdAt}
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type="text" name="title" placeholder="Заголовок" minlength="30" maxlength="250" required="" value=(post && post.title ? post.title : null))
                    if (validationMessages && 'title' in validationMessages)
                      p.form__error-message #{validationMessages.title}
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type="text" name="photo" placeholder="Фотография" value=(post && post.picture ? post.picture : null) readonly="")
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type="file" name="upload")
                        | Обзор
                  if (validationMessages && 'picture' in validationMessages)
                    p.form__error-message #{validationMessages.picture}
                  .new-publication__category-wrapper
                    each category, index in categories
                      .new-publication__checkbox.new-publication__checkbox--auto
                        input(id=`category-${index}` type="checkbox" name="category[]" checked=(post && post.categories ? post.categories.includes(category.id.toString()) : false) value=category.id)
                        label(for=`category-${index}`) #{category.name}
                    a.new-publication__form-link.button.button--transparent(href="#") Добавить категорию
                  if (validationMessages && 'categories' in validationMessages)
                    p.form__error-message #{validationMessages.categories}
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows="5" name="announcement" placeholder="Анонс публикации") #{post && post.announcement ? post.announcement : undefined}
                    if (validationMessages && 'announcement' in validationMessages)
                      p.form__error-message #{validationMessages.announcement}
                  .form__field.form__field--publication-text
                    label
                      textarea(rows="10" name="full-text" placeholder="Полный текст публикации" maxlength="1000") #{post && post.fullText ? post.fullText : undefined}
                    if (validationMessages && 'fullText' in validationMessages)
                      p.form__error-message #{validationMessages.fullText}
              if validationMessages
                .form__validation-error
                  p.form__error-message При добавлении публикации произошли ошибки:
                  ul.form__errors
                    each error in Object.values(validationMessages)
                      li.form__error #{error}
    include ../partials/footer.pug
