extends layout.pug

block content
  .wrapper-color
    include partials/header.pug
    main
      section.search-page
        div(class=`search-page__wrapper${search && !results.length ? " search-page__wrapper--empty" : ""}`)
          h1 Поиск
          .search.search-page__form
            form(action="/search" method="get")
              label
                input(type="text" name="search" placeholder="Что ищем?" value=search)
              button.search__button.button.button--transparent(type="submit") Найти
            if search && !results.length
              p.search-page__empty Ничего не нашлось
            if search && results.length
              each result in results
                .search__result
                  +publicationDate(formatDatetime(result.createdAt), formatDate(result.createdAt))(class="search__date")
                  a.search__link(href=`/articles/${result.id}`) !{result.title.replace(RegExp(search, "gi"), (substr) => `<b>${substr}</b>`)}
    include partials/footer.pug
