extends ../layout.pug

block content
  .wrapper.wrapper--nobackground
    include ../partials/header.pug
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each post in posts
            each comment in post.comments
              li.publication__list-item
                form(action=`/my/comments/${comment.id}/article/${post.id}` method="POST")
                  .publication__header
                    img.publication__list-image(src=`/img/${comment.users.avatar}` width="20" height="20" alt="Аватар пользователя")
                    b.publication__list-name #{`${comment.users.name} ${comment.users.surname}`}
                    +publicationDate(formatDatetime(comment.createdAt), formatDate(comment.createdAt))
                  a.publication__item-text(href=`/articles/${comment.postId}`) #{comment.text}
                  p.publication__text-strong #{post.title}
                  button.publication__button.button.button--close-item(type="submit")
                    span.visually-hidden Закрыть строку списка
    include ../partials/footer.pug
