extends ../layout.pug

block content
  .wrapper.wrapper--nobackground
    include ../partials/header.pug
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each comment in comments
            li.publication__list-item
              form(action=`/my/comments/${comment.id}/article/${comment.postId}` method="POST")
                .publication__header
                  img.publication__list-image(src=`/img/${comment.users.avatar || 'icons/smile.svg'}` width="20" height="20" alt="Аватар пользователя")
                  b.publication__list-name #{`${comment.users.name} ${comment.users.surname}`}
                  +publicationDate(formatDatetime(comment.createdAt), formatDate(comment.createdAt))
                a.publication__item-text(href=`/articles/${comment.postId}`) #{comment.text}
                p.publication__text-strong #{comment.posts.title}
                button.publication__button.button.button--close-item(type="submit")
                  span.visually-hidden Закрыть строку списка
    include ../partials/footer.pug
